<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <h1>Degrees</h1>
    <div>
      <input v-model="newTemperature" type="number" placeholder="Add a temperature in °c"/>
      <button v-on:click="addTemperature">Add</button>
    </div>
    <ul>
      <li v-for="(temp, index) in temperatures" v-bind:key="index">
        {{temp}}°C = {{ convertToFahrenheit(temp) }}°F
        <button class="delete-button" v-on:click="removeTemperature(index)">
          Delete
        </button>
      </li>
    </ul>
  </div>

  <script src="app.js"></script>
</body>
</html>
